################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/シルエット改変/obj
/シルエット改変/bin
/.vs/シルエット改変/v15/Server/sqlite3
